section
  .row
    .board.col-xs-12
      .alert.alert-info(role="alert")
        | Waiting for other players to join the room.<br>
        | Once the game is started new players <b>will not</b> be able to join.
      button.btn.btn-success.btn-block.btn-lg(type="button") Start the game