.row
  .history-zone(ng-controller="LastTurnController as lastturnvm" ng-show="lastturnvm.results")
    .history-title Résultats du tour précédent
    .history-question.margin-btm-1(ng-bind="::lastturnvm.results.question")
    .history-estimate Estimation correcte : {{lastturnvm.results.yesCount}}
    table.table.table-condensed
      thead
        tr
          th Joueur
          th Est. #OUI
          th
      tbody
        tr(ng-repeat="result in lastturnvm.results.details")
          th(scope="row" ng-bind="::result.player.username")
          td(ng-bind="result.yesCountGuess")
          td
            i.fa(aria-hidden="true" ng-show="lastturnvm.results"
                pv-validation-icon="result.correct")