.row
  .score-zone(ng-controller="ScoreController as scorevm")
    .table-responsive(ng-if="!scorevm.gameStarted")
      ul.list-group
        li.list-group-item(ng-repeat="player in vm.room.players track by player.id" ng-bind="::player.username")
    .table-responsive(ng-show="scorevm.gameStarted")
      table.table.table-condensed
        thead
          tr
            th Joueur
            th Score
        tbody
          tr(ng-repeat="scoreData in scorevm.scores | orderBy:'score':true track by scoreData.playerId"
              ng-class="{danger: scorevm.hasLeft(vm.room.players, scoreData.playerId)}")
            th(scope="row" ng-bind="::scoreData.username")
            td(ng-bind="scoreData.score")