doctype html
html
  head
    title Privacy
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content="Privacy game online")
    meta(name="author" content="Vincent Tertre")
    link(rel="icon" type="image/png" href="/img/favicon.png")
    style.
      [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
      }
    link(href=revision("main", "css"), rel="stylesheet", type="text/css")

  body(ng-app="app" ng-controller="OrchestratorController as orchestrator" ng-cloak="" ng-class="orchestrator.isIndex ? 'home' : 'room'")
    .wrapper
      header
      block content
      footer.page-footer
        .container
          hr
          p Créé avec <i class="love-icon" aria-hidden="true"></i> par Vincent
    block js
