.container
  .error-banner
    h1 ¯\_(⊙_ʖ⊙)_/¯
    p La ressource demandée est introuvable (404)
    p
      a.btn.btn-primary-inverse.btn-lg(type="button", ui-sref="index")
        i.fa.fa-home
        | Retour à l'index
