.container
  .error-banner
    h1 ¯\_(⊙_ʖ⊙)_/¯
    p The requested resource cannot be found (404)
    p
      a.btn.btn-primary-inverse.btn-lg(type="button", ui-sref="index")
        i.fa.fa-home
        | Back to index
