.container
  .error-banner
    h1 (╯°□°)╯︵ ┻━┻
    p Une erreur est survenue malgré tous les efforts du donger
    p
      a.btn.btn-primary-inverse.btn-lg(type="button", ui-sref="index")
        i.fa.fa-home
        | Retour à l'index
