.container
  .error-banner
    h1 (╯°□°)╯︵ ┻━┻
    p An error occurred despite all the donger efforts
    p
      a.btn.btn-primary-inverse.btn-lg(type="button", ui-sref="index")
        i.fa.fa-home
        | Back to index
