.room-header
  .container
    h1 {{::vm.room.name}} <small>ID: {{::vm.room.id}}</small>
.container
  .row
    .layout-aside-left
      include includes/scoreboard
    .layout-content
      include includes/board
    .layout-aside-right
      include includes/chat