body {
	margin: 0;
}

.love-icon {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	color: #ff4742;

	&:before {
		content: "\F004";
	}
}

.page-footer {
	color: #767676;
	text-align: right;
	font-size: 0.8em;

	hr {
		margin-bottom: 1em;
	}
}
