.btn-primary-inverse {
  .button-variant(#fff, @dark-brand-primary, darken(@dark-brand-primary, 5%));
}

.btn-o {
  .btn-o(#ff8000);
}

.btn-o-content {
  position: relative;
  top: 35%;
}

.btn-huge {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 300;
  line-height: 1.4;

  &.btn-block {
    border-radius: 8px;
  }
}

.btn > i {
  margin-right: @padding-base-horizontal;
}

.margin-btm-1 {
  margin-bottom: 1em;
}